@charset "utf-8";
.headlogo img{
    max-width:60%;
    min-width: 40%;
}
.headlogo{
  height:200px;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}
.Headline{
    opacity: 0;
    text-align: center;
    animation: SlideIn 1.6s;
    animation-delay : .8s;
    animation-fill-mode: forwards; 
  }
  .Headline2{
    opacity: 0;
    text-align: center;
    animation: SlideIn 1.6s;
    animation-delay : 1.5s;
    animation-fill-mode: forwards; 
  }
@keyframes SlideIn {
    0% {
      opacity: 0;
      transform: translateX(-64px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
@media screen and (min-width:768px) {
  .headlogo{height:80vh;}
    .headlogo img{max-width:60%;}
}
@media screen and (min-width:1024px) {
  .headlogo img{max-width:70%;}
}